p {
    text-align: center;
    font-size: 2rem;
}

a:link {
    color: yellow;
}

a:visited {
    color: black;
}

a:focus {
    color: blue;
}

a:hover {
    color: crimson;
}

a:active {
    color: darkcyan;
}
