h1 {
    color: cyan;
}

.p1 {
    font-size: 1.1rem;
    color: blue;
}

.p2 {
    font-size: 1.2rem;
    color: green;
}

.p3 {
    font-size: 1.3rem;
    color: grey;
}

.p4 {
    font-size: 1.4rem;
    color: red;
}

.p5 {
    font-size: 1.5rem;
    color: salmon;
}

.p6 {
    font-size: 1.6rem;
    color: springgreen;
}

.p7 {
    font-size: 1.7rem;
    color: slateblue;
}

.p8 {
    font-size: 1.8rem;
    color: paleturquoise;
}

.p9 {
    font-size: 1.9rem;
    color: orange;
}

.p10 {
    font-size: 2.0rem;
    color: mediumslateblue;
}

.p11 {
    font-size: 2.1rem;
    color: midnightblue;
}

.p12 {
    font-size: 2.2rem;
    color: moccasin;
}

.p13 {
    font-size: 2.3rem;
    color: pink;
}

.p14 {
    font-size: 2.4rem;
    color: olive;
}

.p15 {
    font-size: 2.5rem;
    color: orchid;
}