.p1 {
    text-shadow: 5px 7px 2px black;
    color: coral;
}

.p2 {
   text-shadow: 4px 4px 3px blue;
   color: black;
}

.p3 {
    text-shadow: 4px 1px 1px red;
   color: firebrick;
}
    

.p4 {
    text-shadow: 4px 7px 3px yellow;
   color: dodgerblue;
}

.p5 {
    text-shadow: 2px 4px 3px green;
   color: skyblue;
}

.p6 {
    text-shadow: 4px 2px 3px brown;
   color: lawngreen;
}

.p7 {
    text-shadow: 2px 7px 1px violet;
   color: deeppink;
}

.p8 {
    text-shadow: 1px 9px 3px turquoise;
   color: chartreuse;
}

.p9 {
    text-shadow: 7px 5px 3px darkgrey;
   color: springgreen;
}

.p10 {
    text-shadow: 5px 2px 1px darkslateblue;
   color: hotpink;
}

.p11 {
    text-shadow: 7px 6px 5px darkturquoise;
   color: sienna;
}

.p12 {
    text-shadow: 6px 1px 6px darkorange;
   color: seagreen;
}


.p13 {
    text-shadow: 9px 1px 3px darkmagenta;
   color: salmon;
}

.p14 {
    text-shadow: 10px 11px 3px darkslateblue;
   color: burlywood;
}

.p15 {
    text-shadow: 2px 9px 3px crimson;
   color: blue;
}